.history-section {
  width: 100%;
  height: 389px;
  background-repeat: no-repeat;
  background: url("../assets/images/pg_bg.png");
  background-size: cover;
  background-position: center;
  padding: 64px 0;
}
.history-section section {
  max-width: 1102px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}
.history-section section img.blur-1 {
  position: absolute;
  bottom: -75px;
  right: 0px;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.history-section section .left-section {
  display: flex;
  align-items: center;
}
.history-section section .left-section img {
  pointer-events: none;
}
.history-section section .left-section img.h2 {
  margin-right: 15px;
}
.history-section section .right-section {
  width: 471px;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(106, 17, 203, 0.8) transparent;
  -ms-overflow-style: none;
  /* Position scrollbar on the left */
  direction: rtl;
}
.history-section section .right-section::-webkit-scrollbar {
  width: 6px;
  background: transparent;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.history-section section .right-section::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px); /* Glass effect */
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.1);
}
.history-section section .right-section::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #ff00ff, #6a11cb, #2575fc);
  border-radius: 20px;
  box-shadow: 0px 0px 15px rgba(255, 0, 255, 0.8); /* Neon glow */
  border: 2px solid rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.history-section section .right-section::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #ff00ff, #8a11cb, #3575fc);
  box-shadow: 0px 0px 25px rgb(255, 0, 255);
  transform: scale(1.15);
}
.history-section section .right-section:hover::-webkit-scrollbar {
  opacity: 1;
}
.history-section section .right-section > * {
  direction: ltr; /* Keeps text alignment normal */
}
.history-section section .p {
  text-wrap: wrap;
  font-size: 32px;
  margin-bottom: 15px;
  color: #0c0a09;
  letter-spacing: -3%;
}
.history-section section .p:last-child {
  margin-bottom: 30px;
}
.history-section .left-section-mb {
  display: none;
}
@media (max-width: 575px) {
  .history-section {
    width: 100%;
    height: 312px;
    background-repeat: no-repeat;
    background: url("../assets/images/pg_bg.png");
    background-size: cover;
    background-position: center;
    padding: 0px 16px;
    overflow: hidden;
  }
  .history-section section {
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
  }
  .history-section section img.blur-1 {
    position: absolute;
    bottom: -50px;
    right: 0px;
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    width: 100%;
    transform: scale(1.5);
  }
  .history-section section .left-section {
    display: none;
  }
  .history-section section .right-section {
    width: 100%;
    height: 100%;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
  }
  .history-section section .right-section::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
  .history-section section .right-section .p {
    text-wrap: wrap;
    font-size: 32px;
    margin-bottom: 10px;
    color: #0c0a09;
    text-align: center;
    letter-spacing: -3%;
  }
  .history-section section .right-section .p:last-child {
    margin-bottom: 20px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .history-section {
    width: 100%;
    height: 312px;
    background-repeat: no-repeat;
    background: url("../assets/images/pg_bg.png");
    background-size: cover;
    background-position: center;
    padding: 0px 50px;
    overflow: hidden;
  }
  .history-section section {
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
  }
  .history-section section img.blur-1 {
    position: absolute;
    bottom: -80px;
    right: 0px;
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    width: 100%;
    transform: scale(1.5);
  }
  .history-section section .left-section {
    display: none;
  }
  .history-section section .left-section-mb {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }
  .history-section section .left-section-mb h2 {
    font-weight: 28.64px;
    font-size: 24px;
    letter-spacing: -3%;
    color: #0c0a09;
    font-weight: 900;
    margin-bottom: 15px;
  }
  .history-section section .right-section {
    width: 100%;
    height: 100%;
    overflow-y: scroll; /* Keeps scrolling functionality */
  }
  .history-section section .right-section .p {
    text-wrap: wrap;
    font-size: 32px;
    margin-bottom: 10px;
    color: #0c0a09;
    text-align: center;
    letter-spacing: -3%;
  }
  .history-section section .right-section .p:last-child {
    margin-bottom: 90px;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .history-section {
    width: 100%;
    height: 312px;
    background-repeat: no-repeat;
    background: url("../assets/images/pg_bg.png");
    background-size: cover;
    background-position: center;
    padding: 0px 50px;
    overflow: hidden;
  }
  .history-section section {
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
  }
  .history-section section img.blur-1 {
    position: absolute;
    bottom: -80px;
    right: 0px;
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    width: 100%;
    transform: scale(1.5);
  }
  .history-section section .left-section {
    display: none;
  }
  .history-section section .left-section-mb {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
  }
  .history-section section .left-section-mb h2 {
    font-weight: 28.64px;
    font-size: 24px;
    letter-spacing: -3%;
    color: #0c0a09;
    font-weight: 900;
    margin-bottom: 15px;
  }
  .history-section section .right-section {
    width: 100%;
    height: 100%;
  }
  .history-section section .right-section .p {
    text-wrap: wrap;
    font-size: 32px;
    margin-bottom: 10px;
    color: #0c0a09;
    text-align: center;
    letter-spacing: -3%;
  }
  .history-section section .right-section .p:last-child {
    margin-bottom: 90px;
  }
}
@media (min-width: 992px) and (max-width: 1102px) {
  .history-section {
    padding: 64px 50px;
  }
  .history-section section {
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
  }
}/*# sourceMappingURL=HistorySection.css.map */